# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Data files (optional, if you don't want to commit them)
# data.txt
# smart.txt

# Gradio temporary files
gradio_cached_examples/

# OS files
.DS_Store
Thumbs.db